USE [master]
GO
/****** Object:  Database [HE200133]    Script Date: 3/24/2026 12:10:30 PM ******/
CREATE DATABASE [HE200133]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE2012', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SE2012.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SE2012_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\SE2012_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HE200133].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HE200133]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 3/24/2026 12:10:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[categoryID] [varchar](10) NOT NULL,
	[categoryName] [nvarchar](255) NOT NULL,
	[describe] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 3/24/2026 12:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 3/24/2026 12:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [date] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[userID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 3/24/2026 12:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[categoryID] [varchar](10) NOT NULL,
	[status] [int] NULL,
	[description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 3/24/2026 12:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[roleID] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 3/24/2026 12:10:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[userID] [varchar](50) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[roleID] [int] NOT NULL,
	[address] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](255) NULL,
	[activate] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCategories] ([categoryID], [categoryName], [describe]) VALUES (N'C001', N'Laptop', N'Laptop xách tay, để bàn')
INSERT [dbo].[tblCategories] ([categoryID], [categoryName], [describe]) VALUES (N'C002', N'Điện thoại, Tablet', N'Điện thoại cầm tay và tablet')
INSERT [dbo].[tblCategories] ([categoryID], [categoryName], [describe]) VALUES (N'C003', N'Linh kiện máy tính', N'RAM, CPU, Ổ SSD và Card màn hình')
GO
SET IDENTITY_INSERT [dbo].[tblOrderDetails] ON 

INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (1, CAST(29990.00 AS Decimal(10, 2)), 1, 1, 1)
INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (2, CAST(49990.00 AS Decimal(10, 2)), 1, 2, 2)
INSERT [dbo].[tblOrderDetails] ([detailID], [price], [quantity], [orderID], [productID]) VALUES (3, CAST(2990.00 AS Decimal(10, 2)), 1, 3, 4)
SET IDENTITY_INSERT [dbo].[tblOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrders] ON 

INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID]) VALUES (1, CAST(N'2023-06-01' AS Date), CAST(59980.00 AS Decimal(10, 2)), N'U001')
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID]) VALUES (2, CAST(N'2023-06-02' AS Date), CAST(34990.00 AS Decimal(10, 2)), N'U002')
INSERT [dbo].[tblOrders] ([orderID], [orderDate], [total], [userID]) VALUES (3, CAST(N'2023-06-03' AS Date), CAST(2990.00 AS Decimal(10, 2)), N'U003')
SET IDENTITY_INSERT [dbo].[tblOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProducts] ON 

INSERT [dbo].[tblProducts] ([productID], [productName], [image], [price], [quantity], [categoryID], [status], [description]) VALUES (1, N'Điện thoại iPhone 14', N'iphone-14.png', CAST(699.00 AS Decimal(10, 2)), 0, N'C002', 0, N'iPhone 14 voi thiet ke sang trong, man hinh dep, hieu nang on dinh va phu hop cho nhu cau hoc tap, giai tri, chup anh hang ngay.')
INSERT [dbo].[tblProducts] ([productID], [productName], [image], [price], [quantity], [categoryID], [status], [description]) VALUES (2, N'Laptop MacBook Pro', N'macbook-pro.png', CAST(1299.00 AS Decimal(10, 2)), 0, N'C001', 0, N'MacBook Pro la dong laptop cao cap danh cho lap trinh, thiet ke, dung multimedia va cong viec can hieu nang manh, man hinh dep.')
INSERT [dbo].[tblProducts] ([productID], [productName], [image], [price], [quantity], [categoryID], [status], [description]) VALUES (3, N'Tai nghe AirPods', N'airpods.png', CAST(179.00 AS Decimal(10, 2)), 0, N'C006', 0, N'AirPods mang lai trai nghiem nghe nhac khong day gon nhe, ket noi nhanh va phu hop cho nghe goi, giai tri va di chuyen.')
SET IDENTITY_INSERT [dbo].[tblProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoles] ON 

INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (2, N'Customer')
INSERT [dbo].[tblRoles] ([roleID], [roleName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[tblRoles] OFF
GO
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [email], [activate]) VALUES (N'U001', N'Nguyễn Văn A', N'password1', 1, N'Hà Nội', N'0123456789', N'a@example.com', 1)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [email], [activate]) VALUES (N'U002', N'Nguyễn Thị B', N'password2', 2, N'Hải Phòng', N'0987654321', N'b@example.com', 0)
INSERT [dbo].[tblUsers] ([userID], [fullName], [password], [roleID], [address], [phone], [email], [activate]) VALUES (N'U003', N'Lê Văn C', N'password3', 3, N'Đà Nẵng', N'0934567890', N'c@example.com', 0)
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrders] ([orderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[tblProducts] ([productID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUsers] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategories] ([categoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRoles] ([roleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
